
.header {
    display: flex;
    flex-direction: row;
    background-image: url('src/images/backpic.jpeg'); 
    background-size: cover; 
    background-position: center;
    padding: 20px; 
    background-clip: padding-box;
    
}

.name {
    font-size: 70px;
    color: grey;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

